html {
	min-height: 100%;
	min-width: 100%;
}

body {	
	background: @color-gradient-fallback;
	background: @color-gradient-moz;
	background: @color-gradient-webkit;
	background: @color-gradient-linear;
	filter: 	@color-gradient-filter;

	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	
	color: @color-very-light;

	min-height: 100%;
	min-width: 100%;
}

h1, h2 {
	font-weight: 200;
}

h2 {
	color: @color-very-light;
	margin: 0;
	padding: 10px;
	font-size: 18px;
}

section {
	height: 100%;
}

/* CUSTOM VERSION OF BOOTSTRAP'S CONTAINER */
.container-custom {
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}